<%-include("header.ejs")%>
<section class="feature-list section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center mb-5">
          <h1>¿Cómo Funciona?</h1>
        </div>
      </div>
      
      <div class="row mb-40">
        <div class="col-md-6 text-center mb-5 mb-lg-0">
          <img class="img-fluid" src="images/conceptos.png" alt="" width="70%">
        </div>
        <div class="col-md-6 align-self-center text-center text-md-left">
          <div class="content">
            <h4 class="subheading"><a class="link-title" href="conceptos">Conceptos Fundamentales de la Computación Cuántica</a></h4>
            <p>Estos conceptos básicos son esenciales para comprender cómo funciona la computación cuántica y por qué es tan prometedora en la resolución de problemas complejos y en aplicaciones avanzadas, como la criptografía cuántica y la simulación de sistemas cuánticos.</p>
            <a href="conceptos" class="btn btn-main btn-main-sm">Leer Más</a>
          </div>
        </div>
      </div>
      
      <div class="row mb-40">
        <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
          <div class="content">
            <h4 class="subheading"><a class="link-title" href="arquitectura">Arquitectura de un Ordenador Cuántico</a></h4>
            <p>La arquitectura de un ordenador cuántico es fundamental para entender cómo se realiza el procesamiento cuántico y cómo se aprovechan los principios de la mecánica cuántica. Aquí se describen los componentes clave de la arquitectura de un ordenador cuántico.</p>
            <a href="arquitectura" class="btn btn-main btn-main-sm">Leer Más</a>
          </div>
        </div>
        <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
          <img class="img-fluid" src="images/qubit.png" alt="" width="70%">
        </div>
      </div>
      
      
      <div class="row mb-40">
        <div class="col-md-6 text-center mb-5 mb-lg-0">
          <img class="img-fluid" src="images/algoritmo.png" alt="" width="65%">
        </div>
        <div class="col-md-6 align-self-center text-center text-md-left">
          <div class="content">
            <h4 class="subheading"><a class="link-title" href="algoritmos">Algoritmos Cuánticos</a></h4>
            <p>Los algoritmos cuánticos son programas diseñados para ejecutarse en ordenadores cuánticos y aprovechar las propiedades únicas de la mecánica cuántica para resolver problemas de manera eficiente.</p>
            <a href="algoritmos" class="btn btn-main btn-main-sm">Leer Más</a>
          </div>
        </div>
      </div>
      
      <div class="row mb-40">
        <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
          <div class="content">
            <h4 class="subheading"><a class="link-title" href="limitaciones">Desafíos y Limitaciones de la Computación Cuántica</a></h4>
            <p>La computación cuántica sigue siendo un campo emocionante con un gran potencial. Los investigadores y la industria trabajan continuamente para superar estos obstáculos y desbloquear el poder de la computación cuántica en campos como la criptografía, la simulación de sistemas cuánticos y la resolución de problemas complejos.</p>
            <a href="limitaciones" class="btn btn-main btn-main-sm">Leer Más</a>
          </div>
        </div>
        <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
          <img class="img-fluid" src="images/limitacion.png" alt="" width="80%">
        </div>
      </div>

      <div class="row mb-40">
        <div class="col-md-6 text-center mb-5 mb-lg-0">
          <img class="img-fluid" src="images/supremacia.jpg" alt="" width="80%">
        </div>
        <div class="col-md-6 align-self-center text-center text-md-left">
          <div class="content">
            <h4 class="subheading"><a class="link-title" href="supremacia">Supremacía Cuántica
            </a></h4>
            <p>La supremacía cuántica representa un importante logro en la computación cuántica y es un hito que demuestra la capacidad de los ordenadores cuánticos para resolver problemas complejos más rápido que las computadoras clásicas.</p>
            <a href="supremacia" class="btn btn-main btn-main-sm">Leer Más</a>
          </div>
        </div>
      </div>

     
      
      
    </div>
  </section>
<%-include("footer.ejs") %>