<%-include("header.ejs")%>
<section class="feature-list section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading">
            <h2>Criptografía Cuántica.</h2>
          </div>
        </div>
      </div>
      
      <div class="row mb-40">
        <div class="col-md-6 text-center mb-5 mb-lg-0">
          <img class="img-fluid" src="images/criptografia.png" width="70%">
        </div>
        <div class="col-md-6 align-self-center text-center text-md-left">
          <div class="content">
            <h4 class="subheading"><b></b>¿Qué es la Criptografía?</h4>
            <p>La criptografía es una práctica que consiste en proteger información mediante el uso de algoritmos codificados, hashes y firmas. La información puede estar en reposo (como un archivo ubicado en un disco duro), en tránsito (una comunicación electrónica intercambiada entre dos o más partes) o en uso (mientras se ejecutan operaciones de computación con los datos).</p>
            <h3><b>Objetivos Principales de la Criptografía:</b></h3><p></p>
            <p>Confidencialidad: Poner la información únicamente a disposición de usuarios autorizados. </p>
            <p>Integridad: Asegurar que la información no se ha manipulado.</p>
            <p>Autenticación: Confirmar la autenticidad de la información o de la identidad de un usuario.</p>
            <p>No repudio: Evitar que un usuario deniegue compromisos o acciones previas.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 mb-5">
            <div class="content">
              <h4 class="subheading">Criptografía Cuántica: Elevando la Seguridad en la Era de la Computación Cuántica.</h4>
              <p>La criptografía cuántica, un pilar esencial en la revolución tecnológica actual, representa un salto cuántico en la seguridad de la información.</p>
              <p>En contraste con los métodos clásicos de criptografía, que dependen de algoritmos basados en bits con estados de 0 o 1, la criptografía cuántica capitaliza las propiedades extraordinarias de los qubits, unidades de información cuántica. Estos qubits, al aprovechar la superposición cuántica, pueden existir en múltiples estados simultáneos, proporcionando una capa adicional de complejidad y seguridad a los sistemas criptográficos.</p>
              <p>La entrelazación cuántica, una propiedad fascinante de la mecánica cuántica, posibilita la correlación instantánea entre qubits a través de distancias astronómicas. Este fenómeno no solo ofrece la promesa de comunicaciones ultra seguras, sino que también redefine la naturaleza misma de la seguridad en las transmisiones de datos.</p>
              <p>La computación cuántica, al abordar desafíos previamente insuperables en campos como la optimización, la simulación y la inteligencia artificial, emerge como un catalizador para transformar industrias enteras. En este contexto, la criptografía cuántica se erige como el guardián de la seguridad digital, mitigando las amenazas emergentes asociadas con la capacidad de las computadoras cuánticas para realizar cálculos masivamente paralelos.</p>
              <p>Ante la inevitable llegada de la era cuántica, la criptografía cuántica se posiciona como la respuesta a la necesidad imperante de salvaguardar la integridad y confidencialidad de la información en un mundo cada vez más interconectado y digital.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
<%-include("footer.ejs") %>